<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771257072394-1oijqvhnleo444q3fpf9jf18sskjqrr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771257072394-1oijqvhnleo444q3fpf9jf18sskjqrr9</string>
	<key>API_KEY</key>
	<string>AIzaSyBMhA5Mt1bt9_OH8p9ew55hAm_mMI6AWN4</string>
	<key>GCM_SENDER_ID</key>
	<string>771257072394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skripsiBaru</string>
	<key>PROJECT_ID</key>
	<string>skripsibaru-bca46</string>
	<key>STORAGE_BUCKET</key>
	<string>skripsibaru-bca46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771257072394:ios:02b99e276d0cebf71958f3</string>
</dict>
</plist>